<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
 <welcome-file-list>  
    <welcome-file>OnlineServey.html</welcome-file>  
</welcome-file-list>
  <servlet>  
<servlet-name>Login</servlet-name>  
<servlet-class>Login</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Login</servlet-name>  
<url-pattern>/logindetails</url-pattern>  
</servlet-mapping>
  

<servlet>  
<servlet-name>Signup</servlet-name>  
<servlet-class>Signup</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Signup</servlet-name>  
<url-pattern>/signupdetails</url-pattern>  
</servlet-mapping> 


<servlet>  
<servlet-name>Feedback</servlet-name>  
<servlet-class>Feedback</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Feedback</servlet-name>  
<url-pattern>/feedback</url-pattern>  
</servlet-mapping>  


<servlet>  
<servlet-name>Student_Survey</servlet-name>  
<servlet-class>Student_Survey</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Student_Survey</servlet-name>  
<url-pattern>/stu_survey</url-pattern>  
</servlet-mapping>
  

<servlet>  
<servlet-name>Tourism_Survey</servlet-name>  
<servlet-class>Tourism_Survey</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Tourism_Survey</servlet-name>  
<url-pattern>/Tourism_survey</url-pattern>  
</servlet-mapping> 


<servlet>  
<servlet-name>Farm_Survey</servlet-name>  
<servlet-class>Farm_Survey</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Farm_Survey</servlet-name>  
<url-pattern>/Farm_Survey</url-pattern>  
</servlet-mapping>  

</web-app>